@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');


body {
    background-color: rgb(162, 0, 255);
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 12px;
    background: deepskyblue;
    padding-top: 10px;
}

.ugly-picture {
    background-image: url('../images/up1.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    margin-left: 290px;
    margin-top: 100px;
    height: 65%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    float: bottom;
    margin-bottom: 10px;
}

.ugly-picture h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}

.click-image {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    color: rgb(239, 147, 76);
    margin-top:425px;

}

.button {
    background-color: brown;
    color: rgb(71, 132, 11);
    float: right;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 180px;
}